body {
  margin: 0;
}
#app {
  height: 100vh;
  border: 1px solid black;
  box-sizing: border-box;
  width: min(100vw, 80vh);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#app #canvas {
  width: 100%;
  height: 100%;
}
#app #animation-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}