@charset "utf-8";
*{
	padding:0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
}
.body{
	border:2px solid #666;
	position:absolute;
	left:30%;
	top:10%;
}
.body .border{
	margin:30px 10px 10px 10px;
	border:1px solid #CCC;
}
.body .border .menu{
	height:40px;	
	background-color:#D4D4D4;
}
.body .border .menu .font{
	font-size:15px;
	font-weight:bold;
	line-height:40px;
}
.body .border .main{
	margin:3px;
	background-color:#ccc;
}
.body .border .main .caculate{
	margin:3px 12px 5px 14px;
	height:50px;
	border-top:2px solid #666;
	border-left:2px solid #666;
	border-right:2px solid #fff;
	border-bottom:2px solid #fff;
}
.body .border .main .caculate .number{
	width:50px;
	float:left;
	margin-top:16px;
	margin-left:10px;
	color:red;
	font-weight:bold;
}
.body .border .main .caculate span .shift{                 /*笑脸图*/
	background-image:url(./玩游戏时.jpg);
	background-size:100% 100%;
	width:30px;
	height:30px;
	margin-top:9px;
	position:absolute;
}
.body .border .main .caculate .time{
	width:50px;
	float:right;
	margin-top:16px;
	margin-right:10px;
	color:red;
	font-weight:bold;
}
.body .border .main .main-operate{
	margin:8px 12px 5px 14px;
	border-top:3px solid #666;
	border-left:3px solid #666;
	border-right:3px solid #fff;
	border-bottom:3px solid #fff;
}
ul{
	padding-left:0px;
}
li{
	list-style:none;	
}
.bodys{                  /*原始图*/
	width:19px;
	height:19px;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	background-color:#E9E9E9;
	display:inline-block;
}
.bodys1{                /*鼠标移动图*/
	width:19px;
	height:19px;
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-color:#E9E9E9;
	display:inline-block;
}
.bodys2{                 /*点开图,空数字图*/
	width:19px;
	height:19px;
	border:1px solid #ccc;
	background-color:#E9E9E9;
	display:inline-block;
}
.landmine{            /*地雷图*/
	width:19px;
	height:19px;
	border:1px solid #ccc;
	display:inline-block;
	background-image:url(./雷图.jpg);
	background-repeat:no-repeat;
}
.flag{              /*旗子图*/
	width:19px;
	height:19px;
	border:1px solid #ccc;
	display:inline-block;
	background-image:url(./旗子.jpg);
	background-repeat:no-repeat;
}
.question{         /*?图*/
	width:19px;
	height:19px;
	border:1px solid #ccc;
	display:inline-block;
	background-image:url(./问号.jpg);
	background-repeat:no-repeat;
}
.one{        /*数字1图*/
	width:19px;
	height:19px;
	border:1px solid #ccc;
	display:inline-block;
	background-image:url(./数字.png);
	background-position:151px 66px;
}
.two{           /*数字2图*/
	width:19px;
	height:19px;
	border:1px solid #ccc;
	display:inline-block;
	background-image:url(./数字.png);
	background-position:121px 66px;
}
.three{          /*数字3图*/
	width:19px;
	height:19px;
	border:1px solid #ccc;
	display:inline-block;
	background-image:url(./数字.png);
	background-position:84px 66px;
}
.four{          /*数字4图*/
	width:19px;
	height:19px;
	border:1px solid #ccc;
	display:inline-block;
	background-image:url(./数字.png);
	background-position:58px 66px;
}
.five{          /*数字5图*/
	width:19px;
	height:19px;
	border:1px solid #ccc;
	display:inline-block;
	background-image:url(./数字.png);
	background-position:33px 66px;
}
.six{          /*数字6图*/
	width:19px;
	height:19px;
	border:1px solid #ccc;
	display:inline-block;
	background-image:url(./数字.png);
	background-position:152px 39px;
}
.seven{          /*数字7图*/
	width:19px;
	height:19px;
	border:1px solid #ccc;
	display:inline-block;
	background-image:url(./数字.png);
	background-position:123px 39px;
}
.eight{          /*数字8图*/
	width:19px;
	height:19px;
	border:1px solid #ccc;
	display:inline-block;
	background-image:url(./数字.png);
	background-position:85px 39px;
}
.red{
	width:19px;
	height:19px;
	border:1px solid #ccc;
	display:inline-block;
	background-color:red;	
}