body {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1280px) {
  .todo-list-container-pc {
    width: 70vw;
  }
}
@media only screen and (max-width: 900px) {
  .todo-list-container-pc {
    width: 80vw;
  }
}
@media only screen and (max-width: 600px) {
  .todo-list-container-pc {
    width: 100vw;
  }
}
@media only screen and (max-width: 300px) {
  .todo-list-container-pc {
    width: 300px;
  }
}
.todo-list-container-pc {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.todo-list-container-h5 {
  width: 100vw;
  min-height: 100vh;
}
.todo-list-container-pc,
.todo-list-container-h5 {
  header {
    
  }
} 