body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.wired-rendered {
  box-sizing: border-box;
}
@media only screen and (min-width: 1280px) {
  .todo-list-container-pc {
    width: 70vw;
  }
}
@media only screen and (max-width: 1280px) {
  .todo-list-container-pc {
    width: 70vw;
  }
}
@media only screen and (max-width: 900px) {
  .todo-list-container-pc {
    width: 80vw;
  }
}
@media only screen and (max-width: 600px) {
  .todo-list-container-pc {
    width: 100vw;
  }
}
@media only screen and (max-width: 300px) {
  .todo-list-container-pc {
    width: 300px;
  }
}
.todo-list-container-pc {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.todo-list-container-h5 {
  width: 100vw;
  min-height: 100vh;
}
.todo-list-container-pc,
.todo-list-container-h5 {
  height: 100vh;
  min-height: 400px;
  overflow: hidden;
  padding: 0;
}
.todo-list-container-pc .todo-list-container-wrapper,
.todo-list-container-h5 .todo-list-container-wrapper {
  height: 100vh;
  min-height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
}
.todo-list-container-pc .todo-list-container-wrapper section,
.todo-list-container-h5 .todo-list-container-wrapper section {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.todo-list-container-pc .todo-list-container-wrapper section .todo-list-section-main,
.todo-list-container-h5 .todo-list-container-wrapper section .todo-list-section-main {
  flex: 1;
  overflow: auto;
}
.todo-list-container-pc .todo-list-header,
.todo-list-container-h5 .todo-list-header {
  width: 100%;
}
.todo-list-container-pc .todo-list-header > div,
.todo-list-container-h5 .todo-list-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-list-container-pc .todo-list-header > div > div,
.todo-list-container-h5 .todo-list-header > div > div {
  flex: 1;
}
.todo-list-container-pc .todo-list-header .todo-list-header-avatar,
.todo-list-container-h5 .todo-list-header .todo-list-header-avatar {
  width: max(min(5vw, 100px), 50px);
}
.todo-list-container-pc .todo-list-section-input,
.todo-list-container-h5 .todo-list-section-input {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.todo-list-container-pc .todo-list-section-input-main,
.todo-list-container-h5 .todo-list-section-input-main {
  flex: 1;
}
.todo-list-container-pc .todo-list-classify-input,
.todo-list-container-h5 .todo-list-classify-input {
  width: 100%;
  box-sizing: border-box;
}
.todo-list-container-pc .todo-list-section-action,
.todo-list-container-h5 .todo-list-section-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-list-container-pc .todo-list-section-action-wrapper,
.todo-list-container-h5 .todo-list-section-action-wrapper {
  display: flex;
  align-items: center;
}
