body {
  margin: 0;
}
#app {
  height: 100vh;
  height: 100dvh;
  box-sizing: border-box;
  width: min(100vw, 80vh);
  width: min(100vw, 80dvh);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
#app #canvas {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
#app #animation-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#app #modal-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}