@charset "utf-8";
/*神秘砖块标识;*/
.mystery{
	background:url("../pic/mystery.jpg");
	background-size:100% 100%;
	background-repeat:no-repeat;
}
/*普通砖块标识*/
.usual{
	background:url("../pic/usual.jpg");
	background-size:100% 100%;
	background-repeat:no-repeat;
}
/*已经被碰撞过的神秘砖块标识;*/
.nouse{	
	background:url("../pic/nouse.jpg");
	background-size:100% 100%;
	background-repeat:no-repeat;
}
/*砖块隐藏功能*/
.hidden{	
	display:none !important;
}
/*花标识*/
.flower{

}
/*金币标识*/
.money{

}
/*蘑菇标识*/
.mushroom{

}
/*星星标识*/
.star{

}
/*特殊砖块标识*/
.special{

}
/*小孩图片*/
.child{
	background:url("../pic/child.png");
}
/*大人图片*/
.adult{
	background:url("../pic/adult.png");
}
/*厨师图片*/
.cooker{
	background:url("../pic/cooker.png");
}
.low{
	bottom:0;
}
.high{
	top:0;
}
.first{
	left:0;
}
.second{
	left:32px;
}
.third{
	left:64px;
}
.forth{
	left:96px;
}
.fifth{
	left:128px;
}
.sixth{
	left:160px;
}
.seventh{
	left:192px;
}
.eighth{
	left:224px;
}
.ninth{
	left:256px;
}
.one{
	width:32px;
}
.two{
	width:64px;
}
.three{
	width:96px;
}
.four{
	width:128px;
}
.five{
	width:160px;
}
.six{
	width:192px;
}
.seven{
	width:224px;
}
.eight{
	width:256px;
}
.pos{
	right:0;
}
.green1{
	width:162px;
	height:71px;
	background:url("../pic/green1.jpg");
	position:absolute;
	bottom:64px;
	z-index:0;
}
.green2{
	width:128px;
	height:33px;
	background:url("../pic/green2.jpg");
	background-size:100% 100%;
	background-repeat:no-repeat;
	position:absolute;
	bottom:64px;
}
.cloud{
	width:82px;
	height:75px;
	background:url("../pic/cloud.jpg");
	background-size:100% 100%;
	background-repeat:no-repeat;
	position:absolute;
	top:92px;
}
