.home-page {
  width: min(100vw, 750px);
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);

  --message-width: min(72vw, 550px);
  --message-height: calc( var(--message-width) * 2 / 3 );

  --message-chart-width: calc( var(--message-width) / 4 * 3 );
}
.zero-scrollbar {
  scrollbar-width: none;
}
.zero-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.dis-flex {
  display: flex;
}
.te-ce {
  text-align: center;
}

.home-page-loading {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-page-message-list-wrapper {
  height: calc(100vh - 64px);
  overflow: hidden auto;
}
.home-page-response-wrapper {
  height: 64px;
  position: sticky;
  bottom: 0;
}
.home-page-message-box {
  max-width: min(80vw, 600px);
  overflow: hidden;
  word-break: break-all;
  margin-bottom: 25px;
}
.home-page-message-box-right {
  display: flex;
  justify-content: flex-end;
}
.home-page-message-box-multi {
  flex-direction: column;
}
.home-page-select-button-wrapper {
  overflow: auto hidden;
  white-space: nowrap;
  line-height: 64px;
  text-align: center;
}
.home-page-select-button-wrapper > * {
  margin-left: 16px;
}
.home-page-select-button-wrapper > *:nth-of-type(1) {
  margin-left: 0;
}
.github-commit-svg {
  width: var(--message-width);
  height: var(--message-height);
}
.home-page-chart-wrapper {
  width: 120%;
  padding-right: 20%;
  box-sizing: border-box;
}
.home-page-bar-chart,
.home-page-line-chart,
.home-page-radar-chart,
.home-page-pie-chart {
  width: var(--message-chart-width);
}
.home-page-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}
.home-page-avatar > span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.home-page-path-animation {
  position: relative;
}
.home-page-shake {
  font-size: 40px;
  text-align: center;
}
.healthy-card {
  margin-top: 25px;
}
.home-page-number span:nth-of-type(2) {
  font-size: 40px;
}
.home-page-image {
  
}
.home-page-emoji {
  font-size: 40px;
  position: relative;
  text-align: center;
}
.home-page-emoji > span {
  transform-origin: center center;
}
.home-page-emoji > span:nth-of-type(2) {
  font-size: 20px;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.home-page-like {
  text-align: center;
}